* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}

body {
    background-color: #F3F5FC;
}