.consolas {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

/* consola uno */

.consolaUno,
.consolaDos {
  background-color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 330px;
  height: 300px;
  border: 2px solid #00ff00;

}

.consolaUno_nav,
.consolaDos_nav {
  background-color: #00ff00;
  width: 100%;
  height: 8%;
  padding: 1% 1% 1% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.consolaUno_nav_titulo,
.consolaDos_nav_titulo {
  position: absolute;
  gap: 5px;
}

.consolaUno_nav_botones,
.consolaDos_nav_botones {
  display: flex;
  gap: 5px;
  position: absolute;
  right: 10px;
}

.consolaUno_nav_botones button,
.consolaDos_nav_botones button {
  background-color: #00ff00;
  font-size: large;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton_minimizar {
  padding-top: 3%;
}

/* sub consola uno */

.subConsolaUno,
.subConsolaDos {
  background-color: transparent;
  width: calc(100% - 20px);
  height: calc(92% - 20px);
  /* padding: 1%; */
  margin: 10px;
  border: 2px solid #00ff00;
}

.subConsolaUno_nav,
.subConsolaDos_nav {
  background-color: #00ff00;
  height: 10%;
  align-items: center;
}

.subConsolaUno_nav button {
  background-color: black;
  /* padding: 1%; */
  font-size: x-small;
  color: #00ff00;
  border: 2px solid #000;
  border-radius: 20px;
  cursor: pointer;
}

.subConsolaUno_nav button:active {
  color: aliceblue;
}

.subConsolaUno_insertarTexto {
  color: #00ff00;
  font-size: small;
  height: 50%;
  padding: 2% 1% 1% 2%;
  position: relative;
  border-bottom: 2px solid #00ff00;
}

.insertarTexto_txt,
input[type="text"] {
  background-color: black;
  color: lime;
  border: 1px solid lime;
  font-family: monospace;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.insertarTexto_txt:focus,
input[type="text"]:focus {
  outline: none;
  border-color: lime;
}

.insertarTexto_txt {
  border: none;
  /* width: 350px; */
  resize: none;
}

.insertarTexto_txt::-webkit-scrollbar {
  display: none;
}

.insertarTexto,
.insertarTextoDecoracion {
  align-items: center;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.insertarTextoDecoracion {
  bottom: 20%;
  gap: 25px;
}

.insertarTextoDecoracion input {
  width: 185px;
}

.subConsolaUno_decoracionInicial,
.subConsolaUno_decoracion {
  height: 20%;
  padding: 2% 1% 1% 1%;
  border-bottom: 2px solid #00ff00;
  font-size: smaller;
}

.subConsolaUno_decoracionInicial {
  text-align: center;
  color: #00ff00;
}

.subConsolaUno_decoracion {
  color: #00ff00;
  font-size: x-small;
}

/* .subConsolaUno_decoracion p {
  margin-bottom: 10px;
} */

.decoracionSubrayado {
  background-color: forestgreen;
}

.subConsolaUno_evitarErrores {
  font-size: x-small;
  padding: 0% 2% 0% 2%;
  color: #00ff00;
}

/* consola dos */

.subConsolaDos_nav {
  font-size: small;
  text-align: center;
}

.subConsolaDos_textoMostrado {
  color: #00ff00;
  font-size: small;
  padding: 2% 1% 1% 2%;
  position: relative;
  border: 1px solid #00ff00;
  background-color: black;
  width: 100%;
  height: 70%;
  resize: none;
}

.subConsolaDos_textoMostrado:focus,
input[type="text"]:focus {
  color: #00ff00;
  outline: none;
  border-color: #00ff00;
}

.subConsolaDos_textoMostrado::-webkit-scrollbar {
  display: none;
}

.subConsolaDos_botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20%;
}

.subConsolaDos_botones button {
  background-color: black;
  padding: 1%;
  color: #00ff00;
  border: 2px solid #00ff00;
  border-radius: 20px;
  cursor: pointer;
}

.botonCopiarTexto:disabled,
.botonCopiarDesencriptar:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
