.titulo {
  width: 100%;
  background-color: #275083;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
}

.titulo h1 {
  margin-left: 30px;
  color: #f3f5fc;
  font-size: 40px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
