.section {
  background-color: #f3f5fc;
  display: flex;
  flex-direction: column;
  padding: 8% 5%;
  height: 100vh;
}

.section_escribirTexto,
.section_mostrarTexto {
  /* background-color: brown; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section_escribirTexto {
  padding-top: 20%;
}

.section_mostrarTexto {
  background-color: #ffffff;
  border-radius: 10px;
  height: 100%;
}

.input-container {
  position: relative;
  width: 100%;
}

.textoEncriptado {
  background-color: #f3f5fc;
  width: 100%;
  padding: 30px;
  font-size: 16px;
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
  color: #275083;
}

.textoEncriptado::placeholder {
  color: #275083;
  font-size: 16px;
  opacity: 1;
  pointer-events: none;
}

.section_botones {
  /* background-color: aqua; */
  padding: 30px;
  width: 100%;
  display: flex;
  gap: 4%;
}

.mostrarTexto_img {
  width: 50%;
}

.mostrarTexto_img img {
  width: 100%;
  object-fit: cover;
}

.mostrarTexto_texto,
.mostrarTexto_subTexto {
  text-align: center;
  font-size: 16px;
}

.mostrarTexto_subTexto {
  font-size: 12px;
}

.textoMostrado_contenedor {
  width: 100%;
  padding: 0% 10%;
  font-size: 16px;
}

.textoMostrado {
  width: 100%;
  padding: 30px;
  font-size: 16px;
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
}
